-- =============================================================
-- Phase 4: petcare_logs 테이블 (훈트가르텐 이용 기록)
-- 입퇴실 시간, 요금 기록용
-- =============================================================

CREATE TABLE IF NOT EXISTS petcare_logs (
    id bigint GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    household_id uuid REFERENCES households(id) ON DELETE CASCADE,
    check_in timestamptz NOT NULL,
    check_out timestamptz,
    memo text,
    fee numeric(18,2) DEFAULT 0,
    created_at timestamptz DEFAULT now()
);

ALTER TABLE petcare_logs ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Members can manage petcare_logs" ON petcare_logs;
CREATE POLICY "Members can manage petcare_logs"
    ON petcare_logs FOR ALL TO authenticated
    USING (is_household_member(household_id));
